= form_with(model: blogpost) do |form|
  - if blogpost.errors.any?
    #error_explanation
      %h2.error
        = pluralize(blogpost.errors.count, "Error")
        prohibited this blogpost from being saved:
      %ul
        - blogpost.errors.each do |error|
          %li.error= error.full_message
  %section.section
    .field
      = form.label :author
      = form.text_field :author, :style => "width: 30%"
  %section.section
    .field
      = form.label :title
      = form.text_field :title, :style => "width: 30%"
  %section.section
    .field
      = form.label :content
      = form.text_area :content, :style => "width: 90%; height: 50%"
  .actions
    = form.submit 'Save', class: "link green"
