%h1.heading Blogposts
= link_to 'New Blogpost', new_blogpost_path, class: "link blue"
= link_to 'Home', root_path, class: "link grey"

=will_paginate @blogposts

%table.section
  %thead
  %tbody.section--white
    - @blogposts.order(:title).each do |blogpost|
      %tr
        %td.author= "Author: \n #{blogpost.author}"
        %td= "Title: #{malicious_markdown(blogpost.title)}"
        %td.content= "Content: #{markdown(blogpost.content)}"
        %td.button= link_to 'Show', blogpost
        %td.button= link_to 'Edit', edit_blogpost_path(blogpost)
        %td.button= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' }
%br/
