%div.section
  %strong Author:
  = @blogpost.author
%div.section
  %strong Title:
  = @blogpost.title
%div.section
  %strong Content:
  =markdown(@blogpost.content)
= link_to 'Edit', edit_blogpost_path(@blogpost), class: "link blue"
|
= link_to 'Back', blogposts_path, class: "link red"
