%h1.heading Welcome to SaVorum
%h2.heading An oasis on earth to chat and post information.

%section.section
    %h3 Blogposts
    %p This the safest blogforum on Earth for sharing and storing informatioN. Users receives the possibility to manage every post anonymously. Because we think our users can be trusted with the freedom we give them. 
    %div{ :style => "text-align: center;" } Drobo kbo kd vokcd dgy fevxobklsvsdsoc drkd kbo swzvowoxdon.
    %div.list--item
        = link_to "Go to Post overview", blogposts_path, class: "link green"
