@import 'link.css';
@import 'section.css';
@import 'table.css';
@import 'pagination.css';

body {
  height: 100%;
  background-color: antiquewhite;
  align-items: center;
 }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

pre {
  background-color: rgb(236, 236, 236);
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; 
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #000000;
}
.heading {
  text-align: center;
  color: #90a1ff;
}

h2 {
  font-size: 40px ;
  color: #000000;
}

h3 {
  font-size: 25px ;
  color: #000000;
}

p {
  font-size: 18px ;
}

.error {
  color: #fd5f5f;
  font-size: 20px;
}

