.link {
  border-radius: 4px;
  color: #F6F8F9;
  margin: 4px;
  text-decoration: none;
  padding: 4px;
}

.link:hover {
  background-color: #F6F8F9;
  text-decoration: none;
}

.link.grey {
  background-color: #989899;
  color: #F6F8F9;
  border: 2px solid #989899;
}

.link.grey:hover {
  color: #989899;
  background-color: #F6F8F9;
}

.link.red {
  border: 2px solid #FF5269;
  background-color: #FF5269;
}

.link.red:hover {
  border: 2px solid #FF5269;
  border-radius: 4px;
  color: #FF5269;
  background-color: #F6F8F9;
  text-decoration: none;
}

.link.green {
  border: 2px solid #67e97c;
  background-color: #67e97c;
}

.link.green:hover {
  border: 2px solid #67e97c;
  border-radius: 4px;
  color: #67e97c;
  background-color: #F6F8F9;
  text-decoration: none;
}

.link.blue {
  background-color: #5263FF;
  color: #F6F8F9;
  border: 2px solid #5263FF;
}

.link.blue:hover {
  color: #5263FF;
  background-color: #F6F8F9;
}