.pagination {
  display: flex;
  background-color: #cecece;
  justify-content: space-around;
  margin-top: 20px;
}

.pagination a,em, .next_page, .previous_page{
  width: 100%;
  height: 40%;
  background-color: aliceblue;
  border-radius: 20px;
  border-style: solid;
  border-color: #cecece;
  text-align: center;
  text-decoration: none;
}

.next_page.disabled, .previous_page.disabled{
  background-color: #cecece;
}

.current{
  background-color: aquamarine;
}
