.section {
  margin: 40px 0;
  padding: 20px;
  background-color: #cecece;
  border: 0 solid black;
  border-radius: 10px;
  overflow:auto;
  height: 100%;
  width: 100%;
}

.section--white{
  background-color: #ffffff;
  border: 0 solid black;
  border-radius: 10px;
}
