th{
  display: flex;
  flex-direction: column;
}

td{
  overflow: auto;
  display: flex;
  flex-direction: column;
}
td.author{
  font-size: 14px;
  text-decoration: underline black;  
}
td.content{
  max-height: 210px; 
}
td.button{
  width: min-content;
}

